{% extends 'base.html' %}
{% block content %}

<div class="bg"></div>
    <div class="jumbotron">
        <h1>Welcome to Music Hub Ireland</h1>
        <p>In 2001, Music Hub Ireland was set up by a group of musicians to help create an online community of new and aspiring musicians across Ireland.</p>
        <p>
Nam quidam repudiare ei, dicat primis recteque in pri. Vero graeci liberavisse et mei, mei nihil fastidii omittantur an, quem ceteros no vix. Eum dolore singulis ea, has in dicant mediocrem. Nemore labitur pri eu, molestiae mediocritatem in pri.</p>
        <a class="btn enter" href="{% url 'contact' %}">Contact Us Here ></a>
    </div>
    <hr>
{% endblock %}