body{
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #555;
}
.topnav h3{
    font-size: 1.8em;
}
.nav{
    margin-top: 6%;
}
.nav li a{
    color: #555;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    border-radius: 0;
}
.nav li a:hover{
    color: #000;
    border-bottom: 1px solid #555;
    background-color: #fff;
}

.background{
    background-image: url("../images/violin2.jpg");
	width: 100%;
	margin: 0 auto;
	background-repeat:no-repeat;
	background-size:cover;
	background-position: top;
	position: fixed;
    top: -450px;
	color: #fff;
    height: 1500px;
    z-index: -100;
}

.topnav{
    width: 80%;
    background: rgba(255,255,255,0.9);
    position: fixed;
    right: 0;
    top: 0;
    padding: 5%;
    font-size: 1.2em;
    z-index: 100;
}

.whitebox{
    background-color: #fff;
    width: 65%;
    float: right;
    margin: 15% 10%;
    padding: 4%;
}
.maincontainer{
    background-image: url('../images/violin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    height: 100%;
    width: 35%;
    padding: 0px;
    margin: 0px;
    background-color: white;
    position: fixed;
    left: 20px;
    top:0px;
    z-index: -1;
    /*opacity: 0;*/
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

}

.maincontainer2{
    top:0px;
    background-image: url('../images/violin.jpg');
    background-repeat: no-repeat;
    background-position: left  ;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    height: 100%;
    opacity: 0.5;
    width: 15%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 25px;
    z-index: -2;
-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 40% 50%, 0% 0%);
clip-path: polygon(75% 0%, 130% 50%, 55% 100%, 0% 100%, 40% 50%, 0% 0%);

}
.maincontainer3{
    top:0px;
    background-image: url('../images/violin.jpg');
    -webkit-filter: grayscale(100%);
    background-repeat: no-repeat;
    background-position: left  ;
    background-size: cover;
    height: 100%;
    opacity: 0.5;
    width: 15%;
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 20%;
    z-index: -2;
-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 40% 50%, 0% 0%);
clip-path: polygon(75% 0%, 130% 50%, 75% 120%, 50% 100%, 80% 80%, 50% 50%);

}
.logo{
    right: 0;
    top:0;
}

.container-narrow{
    width: 50%;
    margin: 14% 0 0 38%;
}

.jumbotron{
    margin-top: 10%;
    font-size: 12px;
    background-color: #fff;
    text-align: left;
}

.jumbotron p{
    font-size: 12px;
}
.jumbotron h1{
    font-size: 42px;
    line-height: 1;
}

.jumbotron .btn{
    font-size: 14px;
    padding: 15px;
    margin: 10px 0;
    background-color: #fff;
    border: 1px solid #555;
    background-image:none;
    border-radius: 0;
    color: #555;
}

.close{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    font-size: 10px;
}
.nav {
    position: absolute;
    right: 13%;
    top: 6%;
}

.nav li a.logged{
background-color: #555;
color: #fff;
}
.alert-success{
    background-color: rgba(0,0,0,0.7);
    padding: 1%;
    color: #ffffff;
    font-size: 14px;
    width: 80%;
    margin: 0 0 0 10%
}

.btn-primary{
    color: #fff;
    background-color: #3cb371;
    background-image: linear-gradient(#3cb371, #3cb371 60%, #3cb371);
    border-radius:0;
    border-bottom: 1px solid #277A4C;

}

/*FORUM*/

.subject{
    border: 1px solid #eee;
    padding: 3%;
    margin: 3% 0;
}

.subject a{
    color: #555;
}

.subject h2{
    margin: 0;
}
.subject p{
    margin: 20px 0;
}
.threadcount{
    border-top: 1px solid #eee;
    padding: 15px 10px;
    margin: 10px;
}

.threadcount > div{
    margin: 15px;
    display: inline;
}

.viewsubject{
    margin: 20px 0;
}

.viewsubject button{
    padding: 7px;
    font-weight: 500;
}