{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>We Are Social</title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">


</head>
<body>

<div class="maincontainer"></div>
<div class="maincontainer2"></div>
<div class="maincontainer3"></div>

    <div class="masthead">

    <h3>[LOGO HEADER]</h3>
    </div>
    {% if user.is_authenticated %}
                {% include 'nav_yes.html' %}
            {% else %}
                {% include 'nav_no.html' %}
            {% endif %}

<div class="container-narrow">


    <div class="container-narrow">
    {% if messages %}
<div class="alert alert-success">

<p><div class="btn close" >CLOSE X</div></p>
<div class="messages">
    {% for message in messages %}
    {{ message }}
    {% endfor %}

</div>
</div>
{% endif %}
        {% block content %}

        {% endblock %}
    </div>

{#    <div class="footer">#}
{#        <p>Copyright 2015 <a href ="http://www.awwwards.com">Get Inspired</a></p>#}
{#    </div>#}

</div>
</div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>

</html>
